body {
  background: linear-gradient(to right, rgb(255, 145, 0), rgb(248, 41, 255));
}
h1 {
  color: white;
  text-align: center;
  font-size: 65px;
  font-family: 'Voltaire', sans-serif;
  text-decoration: underline;
  padding-top: 15px;
}
 h2 a {
  color: white;
  font-size: 250%;
  font-family: 'Voltaire', sans-serif;
  text-decoration: underline;
  padding-left: 2%;
}
p {
  color: white;
  font-size: 25px;
  text-align: justify;
  padding-left: 25px;
  padding-right: 60px;
}
img#cartelera {
  width: 20%;
  height: 20%;
  float: right;
  padding-right: 3%;
  padding-left: 3%;
}
section#descripcio {
  border-bottom: solid 10px white;
  padding-bottom: 5%;
}
header {
  border-bottom: solid 10px white;
}


h3 {
  color: white;
  font-size: 30px;
  padding-left: 30px;
}
img#imgdirector {
  width: 20%;
  height: 20%;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}
nav {
  background: linear-gradient(to right, rgb(255, 145, 0), rgb(248, 41, 255));
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: solid 1px white;
  padding-bottom: 10px;
}
div {
  width: 19%;
  border: solid 3px white;
  display: inline-block;
  height: 300%;
  margin-bottom: 1%;

  
}
div img {
  width: 90%;
  height: 90%;
  display: block;
  margin: auto;
}
div h3{
  text-align: center;
  padding-left: 0px;
}
div p{
  text-align: justify ;
  padding: 10px;
  font-size: 18px;
} div#Stan{
  padding-top: 8px;
  
}section#trailer iframe{
  display: block;
  margin: auto;
}
table{
  border:solid 1px white;
  margin-left: auto;
  margin-right: auto;
 

}
th,td{
  
  text-align: center;
  border: 1px solid white;
  color: white;
  font-size: 18px;

} .border{
  padding-bottom: 1%;
  border-bottom: solid 10px white;
}
form p, legend,label{
  font-size: 18px;
  padding-left: 0px;
  color: white;
}
fieldset{border: solid 1px white;
margin-top: 2%;}

textarea{
  height: 200px;
  width: 90%;

}legend{
  font-size: 25px;
} table a{
  color: white;
}
a{
  color: white;
  font-size: 18px;
  padding-left: 30px;
}
ul{
  list-style: none;
 
}
.nav li a{
border: solid 1px white;
text-decoration: none;
padding: 10px 15px;
display: block;
transition-delay: 0.5s;


}
.nav li a:hover{
  position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
  -o-transition-property: background-color, color;
  -o-transition-duration: 1s;
  background-color:#fb5d7f;
  color: white;
  

  
}
.nav > li{
  float: left;
  
}
.nav li ul{
  display:none;
  position: absolute;
  
}
.nav li:hover > ul{
display: block;
background: rgb(255, 145, 0);


}